



<!doctype html>
<html lang="en">
{% load staticfiles %}

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Md dayam</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href=" {% url 'home'%}">Md Dayam Barkat</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://twitter.com/dayam_md">Twitter <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% static 'my_resume (1).pdf' %}"  >Resume</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link  active" href="{% url 'allblogs'%}">Blog</a>

      </li>


    </ul>

  </div>
</nav>
    <br/>
    <div class="container">
   <center><h2 class="text-center pt-3"> Welcome To Dayam's Blogs</h2></center>
        <br/>
        <h3>Latest post</h3>

        <hr/>
        {% for blog in blogs.all%}
       <a href=" {% url 'detail' blog.id%}"><h4>{{blog.title}}</h4></a>
        {{blog.pub_date_pretty}}
        <br/>
        <img class="img-fluid" src="{{blog.image.url}}" height="200" width="200"/>
        <br/>
        <p>{{blog.summary}}</p>
        {%endfor%}

        </div>




      <footer class="text-muted">
        <div class="container">
          <center>
            <p>©Md Dayam{% now "Y"%}</p>
          </center>
        </div>

      </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>