
<!doctype html>
<html lang="en">
{% load staticfiles %}

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>




    <title>Md Dayam </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href=" {% url 'home'%}">Md Dayam Barkat </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://twitter.com/dayam_md">Twitter <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% static 'my_resume (1).pdf' %}"  >Resume</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'allblogs'%}">Blog</a>


      </li>


    </ul>
    
  </div>
</nav>
    <br/>
    <center><h2> Hi i'm Md Dayam</h2></center>
    <center><p>My name is Md Dayam Barkat,i am pursuing my B-Tech From Computer Science & Engineering, i am full stack web developer.
        Specially in Back end Development.|Technology:Python/Django Postgresql| Front end|Technology:HTML CSS JAVASCRIPT BOOTSTRAP|
        and looking forward to do something new in this delightful year.
    <br>








    <center><a href="mailto:barkatdayam1999@gmail.com"class="btn btn-primary">Email Me</a></center


    <br/>
    <br/>

    <img src=" {% static 'dayam.jpg' %}" width="300" height="450">



        <br/>
        <br/>

    {% for job in jobs.all%}
    <center><img src="   {{job.image.url}}" height="450" width="600"/></center>



        {{ job.summary }}
         <a href="{{job.url}}">Watch Me</a>
        <br/>

    {% endfor %}


      <footer class="text-muted">
        <div class="container">
          <center>
            <p>©Md Dayam{% now "Y"%}😊</p>
          </center>
        </div>

      </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>